.statCard {
  border: 1px solid #aaa5;
  padding: 1rem;
  padding-bottom: 0rem;
  border-radius: 16px;
  animation: fadeUp 0.3s linear 1;
  height: fit-content;
  transition: box-shadow 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 5px 5px #aaa5;
  }
}

@keyframes fadeUp {
  from {
    margin-top: 1rem;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
