.itemCard {
  border: 1px solid #aaa5;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.3s;
  //   .itemTitle {
  //     font-weight: bold;
  //     border: 1px solid;
  //     width
  //   }
  //   &:hover {
  //     box-shadow: 0 0 5px 5px #fff5;
  //   }
}
